<div id="<%= dom_id surveyor %>">
  <p>
    <strong>User:</strong>
    <%= surveyor.user_id %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= surveyor.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= surveyor.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= surveyor.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= surveyor.phone %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= surveyor.street_address %>
  </p>

  <p>
    <strong>Geocode:</strong>
    <%= surveyor.geocode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= surveyor.city %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= surveyor.zipcode %>
  </p>

  <p>
    <strong>State:</strong>
    <%= surveyor.state %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= surveyor.role %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= surveyor.status %>
  </p>

</div>
