<p style="color: green"><%= notice %></p>

<%= render @surveyor %>

<div>
  <%= link_to "Edit this surveyor", edit_surveyor_path(@surveyor) %> |
  <%= link_to "Back to surveyors", surveyors_path %>

  <%= button_to "Destroy this surveyor", @surveyor, method: :delete %>
</div>
