<%= form_with(model: home) do |form| %>
  <% if home.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
        <% home.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :street_number, style: "display: block" %>
    <%= form.text_field :street_number %>
  </div>

  <div>
    <%= form.label :street_name, style: "display: block" %>
    <%= form.text_field :street_name %>
  </div>

  <div>
    <%= form.label :unit_number, style: "display: block" %>
    <%= form.text_field :unit_number %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip_code, style: "display: block" %>
    <%= form.text_field :zip_code %>
  </div>

  <div>
    <%= form.label :building_type, style: "display: block" %>
    <%= form.text_field :building_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
