<div id="<%= dom_id home %>">
  <p>
    <strong>Street number:</strong>
    <%= home.street_number %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= home.street_name %>
  </p>

  <p>
    <strong>Unit number:</strong>
    <%= home.unit_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= home.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= home.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= home.zip_code %>
  </p>

  <p>
    <strong>Building type:</strong>
    <%= home.building_type %>
  </p>

</div>
