<%= form_with(model: survey_answer) do |form| %>
  <% if survey_answer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey_answer.errors.count, "error") %> prohibited this survey_answer from being saved:</h2>

      <ul>
        <% survey_answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :answer, style: "display: block" %>
    <%= form.text_area :answer %>
  </div>

  <div>
    <%= form.label :survey_response_id, style: "display: block" %>
    <%= form.text_field :survey_response_id %>
  </div>

  <div>
    <%= form.label :survey_question_id, style: "display: block" %>
    <%= form.text_field :survey_question_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
