<%= form_with(model: survey_response) do |form| %>
  <% if survey_response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey_response.errors.count, "error") %> prohibited this survey_response from being saved:</h2>

      <ul>
        <% survey_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :survey_id, style: "display: block" %>
    <%= form.text_field :survey_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
