<div id="<%= dom_id survey_question %>">
  <p>
    <strong>Text:</strong>
    <%= survey_question.text %>
  </p>

  <p>
    <strong>Response type:</strong>
    <%= survey_question.response_type %>
  </p>

  <p>
    <strong>Response options:</strong>
    <%= survey_question.response_options %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= survey_question.survey_id %>
  </p>

</div>
